.text-center{
	text-align: center;
}

.hd1{
	font-size:40px;
}

.content{
	font-size: 20px;
	color: yellow;
}

table, th, td {
   border: 1px solid black;
}

table {
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    height: 50px;
}